<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prj-gestor-notas / home</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
    <main>
        <h1>Hola, {{ username }}. 👋</h1>
        <h2>¿Qué deseas consultar?</h2>
        &emsp;
        <a href="{% url 'notes-menu-list' %}">📒Notas</a>
        &emsp;
        <a href="{% url 'events-menu-list' %}">📅Eventos</a>
    </main>
    {% endblock %}
</body>
</html>