<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prj-gestor-notas / index</title>
    {% extends 'base.html' %}
    {% load static %}
</head>
<body>
    {% block content %}
    <main>
        <h1>Bienvenido invitado. 🎉</h1>
        <h2>Este es un sistema gestor de notas.</h2>
        <p>📒 Aquí puedes crear notas. ✏</p>
    </main>
    ❤  <a href="{% url 'login-list' %}?next=/home/">Comienza ahora</a>
    {% endblock %}
</body>
</html>