<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prj-gestor-notas / login</title>
    {% extends 'base.html' %}
    {% load static %}
</head>
<body>
    {% block content %}
        <h2>♟ Inicio de sesión</h2>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </div>
            <div class="error-messages">
                {% for message in messages %}
                  <p>{{ message }}</p>
                {% endfor %}
            </div>
            <div class="success_messages">
                {% if success_message %}
                    <p>{{ success_message }}</p>
                {% endif %}
            </div>
        {% endif %}
        <form id="login-form" method="POST" action="{% url 'login-list' %}?next=home">
            {% csrf_token %}
            <label for="username">Usuario:&emsp;&emsp;</label>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Contraseña:&ensp;</label>
            <input type="password" id="password" name="password" required><br>
            <button type="submit">Iniciar sesión</button>
            <input type="hidden" name="next" value="{{ next }}">
        </form>
        <p></p>
        <label>¿No estás registrado?&nbsp;</label><a href="{% url 'register-list' %}">Registrate aquí</a>
    {% endblock %}
</body>
</html>