<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prj-gestor-notas / notes</title>
    {% extends 'base.html' %}
    {% load static %}
</head>
<body>
    {% block content %}
    <h1>📒Lista de notas</h1>
    <img src="{% static 'images/notas.jpeg' %}" width="400"height="341">
    📝<a href="{% url 'notes-new' %}">Crear nueva nota</a>
    <p></p>
    <ul>
        {% if notas %}
             <!-- Mostrar las notas -->
            {% for nota in notas %}
                <!-- Mostrar detalles de la nota -->
                <li>
                    📝 {{ nota.topico }}<span class="tab-me">&emsp;●&emsp;</span>
                    <a href="{% url 'notes-detail' nota.id %}">Ver</a>   
                    <a href="">Actualizar</a>
                    <form id=note-delete method="post" action="{% url 'notes-menu-destroy' %}">
                        {% csrf_token %}
                        <input type="hidden" name="nota_id" value="{{ nota.id }}">
                        <button type="submit">Borrar</button>
                    </form>
                    <br>
                </li>
                
            {% endfor %}
        {% else %}
            <!-- Mostrar un mensaje cuando no hay notas -->
            <p>{{ mensaje }}</p>
        {% endif %}
    </ul>
    {% endblock %}
</body>
</html>