<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prj-gestor-notas / note-detail</title>
</head>
<body>
    <h1>Detalles de la nota</h1>

    <p><strong>Topico:</strong> {{ nota.topico }}</p>
    <p><strong>Texto:</strong> {{ nota.texto }}</p>
    <p><strong>Usuario:</strong> {{ nota.usuario.username }}</p>
    <!-- Agregar elementos de modificación de la nota aquí -->
</body>
</html>