<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prj-gestor-notas / notes</title>
    {% extends 'base.html' %}
    {% load static %}
</head>
<body>
    {% block content %}
    <h1>Lista de notas</h1>
    <img src="{% static 'images/notas.jpeg' %}" width="400"height="341">
    <a href="{% url 'notes-new' %}">Crear nueva nota</a>
    <p></p>
    <ul>
        {% if notas %}
             <!-- Mostrar las notas -->
            {% for nota in notas %}
                <!-- Mostrar detalles de la nota -->
                <li>
                    <a href="{% url 'notes-detail' nota.id %}">{{ nota.topico }}</a>
                </li>
            {% endfor %}
        {% else %}
            <!-- Mostrar un mensaje cuando no hay notas -->
            <p>{{ mensaje }}</p>
        {% endif %}
    </ul>
    {% endblock %}
</body>
</html>