<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prj-gestor-notas / note-detail</title>
</head>
<body>
    {% block content %}
    {% if note %}
    <!-- Mostrar detalles de la nota existente -->
    <h2>Detalles de la nota</h2>
    <p>Topico: {{ note.topico }}</p>
    <p>Texto: {{ note.texto }}</p>
    {% else %}
    <!-- Formulario para crear una nueva nota -->
    <h2>Crear nueva nota</h2>
    <form method="POST" action="{% url 'notes-new' %}">
        {% csrf_token %}
        <label for="topic">Topico:</label>
        <input type="text" name="topic" id="topic">
        <br>
        <label for="text">Texto:</label>
        <textarea name="text" id="text"></textarea>
        <br>
        <input type="submit" value="Guardar">
    </form>
    {% endif %}
    {% endblock %}


</body>
</html>