<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prj-gestor-notas / register</title>
    {% extends 'base.html' %}
    {% load static %}
</head>
<body>
    {% block content %}
    <h2>♟ Registrar usuario</h2>
    <form id='register-form' method="POST" action="{% url 'register-list' %}">
        {% csrf_token %}
        <label for="username">Usuario:&emsp;&ensp;</label>
        <input type="text" id="username" name="username" required><br>
        <label for="email">Email:&emsp;&emsp;&ensp;</label>
        <input type="text" id="email" name="email" required><br>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required><br>
        <button type="submit">Registrarse</button>
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
    </form>
    {% if success_message %}
        <p>{{ success_message }}</p>
    {% endif %}
    <p></p>
    {% endblock %}
</body>
</html>